.feedback {
    margin-top: 1.5rem;
    padding: 0 0 0 1.5rem;
    list-style-type: square;    
}
  .feedback li {
    padding: 0.2rem 0;
  }

.feedback-warning
{
  color: #a94442;
}
.feedback-suggestion
{
  color: #818a91;
}